# Ignore Python virtual environment
venv/
__pycache__/
*.pyc

# Ignore React frontend dependencies
ats-frontend/node_modules/
ats-frontend/build/

# Ignore temporary files and secrets
.DS_Store
.env

